/* === Content === */

.content{
    @extend %flex;
    margin-bottom: 110px;
    margin-top: 50px;
    position: relative;
    &:before{
        @extend %after;
        position: absolute;
        top: 12px;
        left: calc(27% + 64px);
        width: 8px;
        height: 10px;
        background-color: #fff;
    }
    &:after{
        @extend %after;
        position: absolute;
        top: 12px;
        bottom: 0;
        left: calc(27% + 71px);
        width: 12px;
        background-color: #fff;
    }
}
.content-title-container{
    flex: 0 27%;
    width: 27%;
    text-align: right;
}
.content-text-container{
    flex: 1;
    padding-left: 150px;
    padding-top: 85px;
}
.content-text{
    max-width: 453px;
}