.main-footer {
  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
  }
}
.footer-heading {
  h6 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
  }
}
.footer-list {
  a {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: #fff;
  }
}

.footer-copy-right {
  border-top: 1px solid #fff;
  margin-top: 1rem;
  li {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    padding: 0 0.5rem;
  }
}