.main-contact {
	padding: 230px 100px 90px 100px;

	    @media only screen and (max-width: 600px) {
		   	padding: 200px 0px 0px 0px;
		}
	.contact-form, 
	.custom-form { 
		label {
			font-size: 17px;
			font-weight: 700;
			margin-bottom: 8px;
		}
		.form-control {
			border-color: #DDDDDD;
			padding: 7px 9px;
			border-radius: 8px;
			&::placeholder {
			   font-size: 14px;
		    }
		}
		.c-form-btn {
			padding: 8px 45px;
			border-radius: 12px;
		}
	}
	.contact-info {
		.icon-box {
			margin-right: 22px;
		}
	}
	.map-container {
		img {
			height: 200px;
		}
	}

	 

	.file {
	  display: none;
	}
	.file-name {
	  position: relative;
	  overflow: hidden;
	  line-height: 30px;
	  padding: 5px;
	  box-sizing: border-box;
	  font-size: 15px;
	  vertical-align: middle;   
	}
	.file-name:read-only {
	  background-color: transparent;
	}
	.upload-btn { 
	  border: none;
	  border-radius: 0; 
	  background-color: transparent;
	  box-sizing: border-box;
	  padding: 2px 10px; 
	  transition: all 0.6s;
	  color: #FFF;
	  font-size: 15px;
	  vertical-align: middle;
	  text-transform: uppercase; 
	  position: absolute;
	  right: 60px;
      bottom: 125px;
 
	}
}
.contact-card-bg {
	background-image: url("../images/contact-bread-bg.jpeg");
  background-size: cover;
  width: 100%; 
  background-position: center;
  background-repeat: no-repeat; 
} 
