li {
  list-style-type: none;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.font-bold {
  font-weight: 700;
}

.my-list { 
  li {
    list-style-type: disc;
    &::marker {
      color: #009EE2; 
    }
  }
}
.border-top-bottom {
  border-top: 1px solid #009EE2;
  border-bottom: 1px solid #009EE2;
}
.border-danger {
  border-color: #DF4900;
}
.border-success {
  border-color: #47C45D;
}
.border-primary {
  border-color: #009EE2;
}
.feature-border-danger {
  border-left: .5px solid #DF4900;
}
.feature-border-primary {
  border-left: .5px solid #009EE2;
}
.feature-border-success {
  border-left: .5px solid #47C45D;
}
.pl-12 {
  padding-left: 12px;
}
.text-danger {
  color: #DF4900 !important;
}
.text-primary {
  color: #009EE2 !important;
}
.text-success {
  color: #47C45D !important;
}
.text-teal {
  color: #00A0A9;
}
.text-bold {
  font-weight: 700;
}
.card-shadow { 
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.year-badge { 
  width: auto;
  height: auto;   
  position: absolute;
  top: 0;
  right: 15px;
  .count, .year {
    padding: 3px 10px 3px 10px;
    color: white;
    font-size: 20px;
  }
}
.bdage-danger {
  background-color: #DF4900;
}
.bdage-success {
  background-color: #47C45D;
}
.bdage-primary {
  background-color: #009EE2;
}

.width-100 {
  @media (min-width:1025px) { width: 90%; }
  @media (min-width:1281px) { width: 90%; }
}